<!DOCTYPE html>
<html>
<head>

  <title>Isomorphic app starter</title>
  <link href="/css/main.css" rel="stylesheet" />

</head>
<body>

  <%- reactOutput %>

  <script src="/js/bundle.js"></script>

</body>
</html>
